body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);
  font-family: 'Titillium Web', sans-serif;
  scroll-behavior: smooth; }

body > section {
  min-height: 100vh; }

#home {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  color: white; }
  #home::after {
    position: absolute;
    content: ' ';
    background-image: url("../res/home-bg.jpg");
    background-size: cover;
    filter: grayscale(1) blur(2px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  @media (min-width: 786px) {
    #home {
      grid-template-columns: 70% auto; } }
  @media (min-width: 992px) {
    #home {
      grid-template-columns: 60% auto; } }
  #home > .container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: rgba(150, 150, 150, 0.4);
    justify-content: center; }
    @media (min-width: 786px) {
      #home > .container {
        background-image: linear-gradient(to right, rgba(150, 150, 150, 0.4) 98%, rgba(0, 0, 0, 0) 100%);
        background-color: transparent; } }
    #home > .container > .title {
      font-size: 36px;
      font-family: 'Amaranth', sans-serif;
      font-weight: normal; }
    #home > .container .name {
      font-size: 64px;
      font-weight: bold; }
    #home > .container .spanner {
      display: flex;
      flex-direction: row;
      margin-left: -4px;
      margin-top: 100px; }
    #home > .container .desc {
      font-size: 24px; }
      #home > .container .desc > .roles {
        font-weight: bold; }
    #home > .container #seeMyWork {
      text-decoration: none;
      background-color: #39D0FF;
      color: white;
      width: 100px;
      padding: 10px 30px;
      border-radius: 25px;
      text-align: center; }
